*.iml
*.ipr
*.iws
target
.classpath
.settings
.project
/*-war/overlays/
derby.log
coverage-error.log
.swp
velocity.log*
activemq-data
logs
change-*.xml
.idea

*.bak
dependency-reduced-pom.xml
?
*~
*.swp
